.header {
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 709px;
  margin-left: 80px;
  margin-top: 183px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;

  font-weight: 500;

  font-size: 58px;

  line-height: 72px;

  letter-spacing: -1px;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;
  font-family: "Noto Serif", "Times New Roman", serif;

  font-size: 20px;

  line-height: 30px;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;

  color: #838383;
}

.header__schedule_left_side {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-bottom: 40px;
}
.header__address_right_side {
  margin-right: 80px;
  margin-bottom: 40px;
  align-self: end;
}
